* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
}


.contenue{
    width: 80vw;
    height: 70vh;
    background-color: white;
    box-shadow: 0 0 5px 1px rgb(239, 237, 237);
    position: relative;
    background-color: black;

}

.dinosaure {
    width: 13vw;
    height: 15vh;
    position: absolute;
    bottom: 0;

}

.cactus {
    width: 5vw;
    height: 15vh;
    position: absolute;
    bottom: 0;
    animation: move 1.5s linear infinite;

}

.score{
   color: green; 
   font-size: 3rem;
   margin-top: 2vh;
}

@keyframes move {
    0% {
        right: 0;
    }

    100% {
        right: calc(100% - 5vw);
    }
}

.jump {
    animation: IsJump 0.5s linear;
}

@keyframes IsJump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 25vh;
    }

    100% {
        bottom: 0;
    }

}